@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');


*{
  text-decoration: none;
  font-family: 'Nunito', sans-serif;
}
body {
    padding: 0;
    background-color: #0A0F16;
    background-size: 20%;
    text-decoration: none;
  }

.headerTitle  {
    color: #97A9B4;
    text-align: center;
    font-size: 1rem;
}
.headerDesc  {
    color: #97A9B4;
    text-align: center;
    font-size: 1.5rem;
}

.staffsectionTitle {
    color: #97A9B4;
    text-decoration: underline;
    font-weight: bold;
    font-size: 1.7rem;
}

.container {
  text-align: center;
}

.btn.btn-outline-dark i {
  position: relative;
}



.discord_id {
    overflow: hidden; 
    border-right: .15em solid orange; 
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: .15em; 
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .90s step-end infinite;
  }

  .logoImg {
    height: 12rem;
    width: 12rem;
  }

  .openSource {
    color: #fafafa;
    text-decoration: none;
  }
  .fab.fa-github.github:hover {
    color: #3c5985;
    text-decoration: none;
  }
  
  .staffTeam {
    column-gap: normal;
  }

  .staffImg {
    border-radius: 5%;
    max-width: 175px;
    max-height: 175px;
  }
  
  @keyframes discord_id {
    from { width: 0 }
    to { width: 100% }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #7289DA; }
  }
  flip-card {
    background-color: transparent;
    width: 450px;
    height: 125px;
    text-align: center;
    /* border: 1px solid #7289DA; */  
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* .card-text {
    font-size: 1rem;
  } */
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #2C2F33;
    color: #7289DA;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: #2C2F33;
    color: #7289DA;
    transform: rotateY(180deg);
  }
  

  .endPoints {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .nav li a {
    font-size: .8rem;
    color: #fafafa;
    background-color: #0e141d;
    border-radius: .5rem;
    border: solid .75px #1a2535;
    display: flexbox;
    margin-left: 1.6rem;
  	flex-wrap: nowrap;
	  justify-content: space-evenly;
    padding: .5rem;
    /* width: 9rem; */
  }
  .nav li a:hover {
    font-size: .8rem;
    color: #fafafa;
    background-color: #1a2535;
    border-radius: .5rem;
    border: solid .75px #0e141d;
    display: flexbox;
    margin-left: 1.6rem;
  	flex-wrap: nowrap;
	  justify-content: space-evenly;
    padding: .5rem;
    /* width: 9rem; */
  }

  .btn.btn-outline-dark {
    font-size: 1.7vh;
    color: #fafafa;
    background-color: #0e141d;
    border-radius: .5rem;
    border: solid .75px #1a2535;
    text-align: center;
    width: 4.7rem;
    padding: .1rem;
    display: flexbox;
    flex-basis: inherit;
    justify-content: space-between;

    transform: scale(0.9,0.9);
    transition-duration: .5s;
  }
  
  .btn.btn-outline-dark:hover {
    font-size: 1.7vh;
    color: #fafafa;
    background-color: #1a2535;
    border-radius: .5rem;
    border: solid .75px #0e141d;
    text-align: center;
    width: 4.7rem;
    padding: .1rem;
    display: flexbox;
    flex-basis: inherit;
    justify-content: space-between;

    transform: scale(1,5,1,5);
    transition-duration: .5s;
    box-shadow: 0 0 15px #1a2535;
  }

  .card {
    text-decoration: none;
	  width: 23rem;
    transform: scale(0.9,0.9);
    transition-duration: .5s;
  }
  .card:hover {
    text-decoration: none;
	  width: 23rem;
    transform: scale(1,1);
    transition-duration: .5s;
    border: solid 1px #1a2535;
    box-shadow: 0 0 15px #1a2535;
  }

   /*! 1272px Mobile Responsive */
   @media only screen and (max-width:1272px) {
    /* For mobile phones: */
    .card {
      text-decoration: none;
      width: 18rem;
      transform: scale(0.9,0.9);
      transition-duration: .5s;
    }
    .card:hover {
      text-decoration: none;
      width: 18rem;
      transform: scale(1,1);
      transition-duration: .5s;
      border: solid 1px #1a2535;
      box-shadow: 0 0 15px #1a2535;
    }
    .endPoints {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }

    .btn.btn-outline-dark {
      font-size: 1.7vh;
      color: #fafafa;
      background-color: #0e141d;
      border-radius: .5rem;
      border: solid .75px #1a2535;
      width: 1.7rem;
      height: 1.7rem;
      display: flexbox;
      flex-basis: inherit;
      justify-content: space-around;
      justify-content: center;
    }
    
    .btn.btn-outline-dark:hover {
      font-size: 1.7vh;
      color: #fafafa;
      background-color: #1a2535;
      border-radius: .5rem;
      border: solid .75px #0e141d;
      text-align: center;
      width: 2.7rem;
      height: 1.7rem;
      display: flexbox;
      flex-basis: inherit;
      justify-content: space-around;
    }

   
  }

  /*! 1049px Mobile Responsive */
  @media only screen and (max-width:1049px) {
    /* For mobile phones: */
    .card {
      text-decoration: none;
      width: 15rem;
      transform: scale(0.9,0.9);
      transition-duration: .5s;
    }
    .card:hover {
      text-decoration: none;
      width: 15rem;
      transform: scale(1,1);
      transition-duration: .5s;
      border: solid 1px #1a2535;
      box-shadow: 0 0 15px #1a2535;
    }
    .endPoints {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .btn.btn-outline-dark {
      font-size: 1.7vh;
      color: #fafafa;
      background-color: #0e141d;
      border-radius: .5rem;
      border: solid .75px #1a2535;
      text-align: center;
      width: 4.7rem;
      display: flexbox;
      flex-basis: inherit;
      justify-content: space-around;
    }
    
    .btn.btn-outline-dark:hover {
      font-size: 1.7vh;
      color: #fafafa;
      background-color: #1a2535;
      border-radius: .5rem;
      border: solid .75px #0e141d;
      text-align: center;
      width: 4.7rem;
      display: flexbox;
      flex-basis: inherit;
      justify-content: space-around;
    }

  
  }

  
    /*! 841px Mobile Responsive */
  @media only screen and (max-width:992px) {
    /* For mobile phones: */
    .card {
      text-decoration: none;
      width: 18rem;
      transform: scale(0.9,0.9);
      transition-duration: .5s;
    }
    .card:hover {
      text-decoration: none;
      width: 18rem;
      transform: scale(1,1);
      transition-duration: .5s;
      border: solid 1px #1a2535;
      box-shadow: 0 0 15px #1a2535;
    }
    .endPoints {
      display: grid;
      grid-template-rows: max-content;
      /* flex-direction: row; */
      justify-content: space-around;
    }

    .btn.btn-outline-dark {
      font-size: 1.7vh;
      color: #fafafa;
      background-color: #0e141d;
      border-radius: .5rem;
      border: solid .75px #1a2535;
      text-align: center;
      width: 2.7rem;
      display: flexbox;
      flex-basis: inherit;
      justify-content: space-around;
    }
    
    .btn.btn-outline-dark:hover {
      font-size: 1.7vh;
      color: #fafafa;
      background-color: #1a2535;
      border-radius: .5rem;
      border: solid .75px #0e141d;
      text-align: center;
      width: 2.7rem;
      display: flexbox;
      flex-basis: inherit;
      justify-content: space-around;
    }
  }
    /*! 686px Mobile Responsive */
  @media only screen and (max-width:686px) {
    /* For mobile phones: */
    .card {
      text-decoration: none;
      width: 20rem;
      transform: scale(0.9,0.9);
      transition-duration: .5s;
      margin: auto;
    }
    .card:hover {
      text-decoration: none;
      width: 20rem;
      transform: scale(1,1);
      transition-duration: .5s;
      border: solid 1px #1a2535;
      box-shadow: 0 0 15px #1a2535;
    }
    .endPoints {
      display: grid;
      grid-template-rows: max-content;
      /* flex-direction: row; */
      justify-content: space-around;
    }

    .btn.btn-outline-dark {
      font-size: 1.7vh;
      color: #fafafa;
      background-color: #0e141d;
      border-radius: .5rem;
      border: solid .50px #1a2535;
      text-align: center;
      width: 2.1rem;
      display: flexbox;
      flex-basis: inherit;
      justify-content: space-around;
    }
    
    .btn.btn-outline-dark:hover {
      font-size: 1.7vh;
      color: #fafafa;
      background-color: #1a2535;
      border-radius: .5rem;
      border: solid .50px #0e141d;
      text-align: center;
      width: 2.1rem;
      display: flexbox;
      flex-basis: inherit;
      justify-content: space-around;
    }
  }
    /*! 375px Mobile Responsive */
  @media only screen and (max-width:375px) {
    /* For mobile phones: */
    .card {
      text-decoration: none;
      width: 15rem;
      height: 35rem;
      transform: scale(0.9,0.9);
      transition-duration: .5s;
      margin: auto;
    }
    .card:hover {
      text-decoration: none;
      width: 15rem;
      height: 35rem;
      transform: scale(1,1);
      transition-duration: .5s;
      border: solid 1px #1a2535;
      box-shadow: 0 0 15px #1a2535;
    }
    .endPoints {
      display: grid;
      grid-template-rows: max-content;
      /* flex-direction: row; */
      justify-content: space-around;
    }

    .btn.btn-outline-dark  {
      font-size: 1.7vh;
      color: #fafafa;
      background-color: #0e141d;
      border-radius: .5rem;
      border: solid .50px #1a2535;
      width: 2.7rem;
      display: flexbox;
      flex-basis: inherit;
      text-align: match-parent;
      justify-content: space-around;
      padding: 1rem;
    }
    
    .btn.btn-outline-dark:hover {
      font-size: 1.7vh;
      color: #fafafa;
      background-color: #1a2535;
      border-radius: .5rem;
      border: solid .50px #0e141d;
      width: 2.7rem;
      display: flexbox;
      flex-basis: inherit;
      justify-content: space-around;
      
    }

    
  }
  