@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');


*{
  text-decoration: none;
  font-family: 'Nunito', sans-serif;
}
body {
    padding: 0;
    /* background-image: url(../img/background.gif); */
    background-color: #0A0F16;
    background-size: 20%;
    text-decoration: none;
  }

.headerTitle  {
    color: #97A9B4;
}

.staffsectionTitle {
    color: #97A9B4;
    text-decoration: underline;
    font-weight: bold;
    font-size: 1.7rem;
}


.container {
  text-align: center;
}

.discord_id 
    {
    overflow: hidden; 
    border-right: .15em solid orange; 
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: .15em; 
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .90s step-end infinite;
  }

  .logoImg {
    margin: 2%;
    max-height: 12rem;
    max-width: 12rem;
  }
  
  .staffTeam {
    column-gap: normal;
  }

  .staffImg {
    border-radius: 5%;
    max-width: 250px;
    max-height: 250px;
  }
  
  @keyframes discord_id {
    from { width: 0 }
    to { width: 100% }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #7289DA; }
  }
  flip-card {
    background-color: transparent;
    width: 450px;
    height: 125px;
    text-align: center;
    /* border: 1px solid #7289DA; */  
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #2C2F33;
    color: #7289DA;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: #2C2F33;
    color: #7289DA;
    transform: rotateY(180deg);
  }
  

  .endPoints {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .nav li a {
    font-size: .8rem;
    color: #fafafa;
    background-color: #0e141d;
    border-radius: .5rem;
    border: solid .75px #1a2535;
    display: flexbox;
    margin-left: 1.6rem;
  	flex-wrap: nowrap;
	  justify-content: space-evenly;
    padding: .5rem;
    /* width: 9rem; */
  }
  .nav li a:hover {
    font-size: .8rem;
    color: #fafafa;
    background-color: #1a2535;
    border-radius: .5rem;
    border: solid .75px #0e141d;
    display: flexbox;
    margin-left: 1.6rem;
  	flex-wrap: nowrap;
	  justify-content: space-evenly;
    padding: .5rem;
    /* width: 9rem; */
  }

  .btn.btn-outline-dark {
    font-size: 1.1vh;
    color: #fafafa;
    background-color: #0e141d;
    border-radius: .5rem;
    border: solid .75px #1a2535;
    text-align: center;
    width: 5rem;
    display: flexbox;
    flex-basis: inherit;
    justify-content: space-around;
  }
  
  .btn.btn-outline-dark:hover {
    font-size: 1.1vh;
    color: #fafafa;
    background-color: #1a2535;
    border-radius: .5rem;
    border: solid .75px #0e141d;
    text-align: center;
    width: 5rem;
    display: flexbox;
    flex-basis: inherit;
    justify-content: space-around;
  }

  .card {
    text-decoration: none;
	  width: 25rem;
    transition-duration: .7s;
  }
  .card:hover {
    text-decoration: none;
	  width: 25rem;
    transform: scale(1.1,1.1);
    transition-duration: 1s;
  }
  